@model OracleSQLTest.Models.CRIS_USER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CRIS_USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOGIN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGIN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RETRY_ATTEMPTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RETRY_ATTEMPTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD_CHANGE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD_CHANGE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD_EXP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD_EXP_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_QUESTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_QUESTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_ANSWER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_ANSWER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENC_DEC_KEY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENC_DEC_KEY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
